annotated-types==0.7.0
asgiref==3.8.1
Authlib==1.5.2
beautifulsoup4==4.13.3
black==25.1.0
bleach==6.2.0
bx_django_utils==84
bx_py_utils==108
cachetools==5.5.2
certifi==2025.1.31
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.1
cli-base-utilities==0.17.0
click==8.1.8
colorama==0.4.6
colorlog==6.9.0
coverage==6.5.0
coveralls==3.3.1
cryptography==44.0.2
darker==2.1.1
darkgraylib==1.2.1
distlib==0.3.9
Django==5.2
django-tools==0.56.2
django_yunohost_integration==0.10.2
docopt==0.6.2
docstring_parser==0.16
dparse==0.6.4
EditorConfig==0.17.0
filelock==3.16.1
flake8==7.2.0
graylint==1.1.1
gunicorn==23.0.0
icdiff==2.0.7
idna==3.10
iniconfig==2.1.0
isort==6.0.1
Jinja2==3.1.6
joblib==1.4.2
markdown-it-py==3.0.0
MarkupSafe==3.0.2
marshmallow==3.26.1
mccabe==0.7.0
mdurl==0.1.2
mypy-extensions==1.0.0
nltk==3.9.1
packaging==24.2
pathspec==0.12.1
platformdirs==4.3.7
pluggy==1.5.0
pprintpp==0.4.0
psutil==6.1.1
psycopg2==2.9.10
pycodestyle==2.13.0
pycparser==2.22
pydantic==2.9.2
pydantic_core==2.23.4
pyflakes==3.3.2
Pygments==2.19.1
PyJWT==2.10.1
pyproject-api==1.9.0
pytest==8.3.5
pytest-cov==5.0.0
pytest-darker==0.1.2
pytest-django==4.11.1
python-dateutil==2.9.0.post0
python-stdnum==1.20
PyYAML==6.0.2
regex==2024.11.6
requests==2.32.3
rich==14.0.0
ruamel.yaml==0.18.10
safety==3.3.1
safety-schemas==0.0.11
setuptools==78.1.0
shellingham==1.5.4
shtab==1.7.2
six==1.17.0
soupsieve==2.6
sqlparse==0.5.3
toml==0.10.2
tomlkit==0.13.2
tox==4.25.0
tqdm==4.67.1
typeguard==4.4.2
typer==0.15.2
typing_extensions==4.13.2
tyro==0.9.18
urllib3==2.4.0
virtualenv==20.30.0
webencodings==0.5.1
xnbtd==2.0.1
